<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>澳视教育</title> 
  <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" /> 
  <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script> 
  <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="../css/viewstyle.css" /> 
  <link rel="stylesheet" type="text/css" href="../css/style.css" /> 
 </head> 
 <body> 
  <div class="top"> 
   <span>在线教育，让学生不在学习和工作烦恼</span> 
   <div class="account clearfix"> 
    <a class="login" href="#">登录</a> 
    <a class="register" href="#">注册</a> 
   </div> 
  </div> 
  <div class="header clearfix"> 
   <div class="logo"> 
    <img src="../img/logo.png" /> 
   </div> 
   <div class="search"> 
    <div class="input-group"> 
     <input type="text" class="form-control" /> 
     <span class="input-group-addon">搜索</span> 
    </div> 
   </div> 
  </div> 
  <div class="navigator clearfix"> 
   <ul class="nav nav-pills nav-justified" role="tablist"> 
    <li role="presentation"><a href="#">首页</a></li> 
    <li role="presentation" class="active"><a href="#">课程列表</a></li> 
    <li role="presentation"><a href="#">文章列表</a></li> 
    <li role="presentation"><a href="#">社区中心</a></li> 
   </ul> 
  </div> 
  <!--container begin--> 
  <div id="container"> 
   <!--title--> 
   <div id="title"> 
    <!--课程标题图片--> 
    <div id="title-icon"> 
     <img src="../img/12.png" /> 
    </div> 
    <!--课程大标题，干货值--> 
    <div id="title-intro"> 
     <ul class="list-unstyled"> 
      <h1>王兴权:找到自己的职业生涯方向</h1> 
     </ul> 
     <ul class="list-unstyled"> 
      <div id="title-eng"> 
       <ul class="list-unstyled"> 
        <li id="g"><h4>干货值</h4></li> 
        <li id="gvalue"><h4>61斤</h4></li> 
       </ul> 
      </div> 
     </ul> 
    </div> 
   </div> 
   <!--课程信息--> 
   <div id="obj-box"> 
    <!--info begin--> 
    <div id="info-box"> 
     <!--intro begin--> 
     <div id="intro"> 
      <div class="panel-heading" id="list-title"> 
       <h3 class="panel-title">适用人群</h3> 
      </div> 
      <!--list-cont begin--> 
      <div class="panel-body" id="list-cont"> 
       <ul class="list-unstyled" id="list-box"> 
        <li id="i-content"> <h5>浅显易懂的生活例子，再加上真实的低成本营销案例。阐述了低成本营销的方法论!</h5> </li> 
       </ul> 
      </div> 
      <!--list-cont end--> 
     </div> 
     <!--intro end--> 
     <!--list begin--> 
     <div id="list"> 
      <div class="panel panel-danger" id="list-bar"> 
       <div class="panel-heading" id="list-title"> 
        <h3 class="panel-title">课时列表</h3> 
       </div> 
       <!--list-cont begin--> 
       <div class="panel-body" id="list-cont"> 
        <!--迭代输出课时--> 
        <a href="#view_id.html"> 
         <ul class="list-unstyled" id="list-box"> 
          <li id="list-left-head"><h5>课时1</h5></li> 
          <li id="list-left"><h5>梁牛:低成本营销方法论</h5></li> 
          <li id="list-right"><h5>44浏览</h5></li> 
         </ul> </a> 
        <a href="#view_id.html"> 
         <ul class="list-unstyled" id="list-box"> 
          <li id="list-left-head"><h5>课时2</h5></li> 
          <li id="list-left"><h5>梁牛:炸药包营销法</h5></li> 
          <li id="list-right"><h5>14浏览</h5></li> 
         </ul> </a> 
       </div> 
       <!--list-cont end--> 
      </div> 
     </div> 
     <!--list end--> 
     <!--vedio begin --> 
     <div id="vedio"> 
      <ul class="list-unstyled"> 
       <li id="video-title"><h3>梁牛:低成本营销方法论</h3></li> 
       <li id="video-cont"> <iframe class="dxd-video-iframe" src="http://player.youku.com/embed/XMTM5Nzg2NDc2NA==?client_id=1aeea2ee01d69e7a" frameborder="0" allowfullscreen="" width="100%" height="480px"> </iframe> </li> 
      </ul> 
     </div> 
     <!--vedio end--> 
     <!--obj-intro begin--> 
     <div id="obj-intro"> 
      <h4>简介</h4> 
      <div id="obj-cont"> 
       <p class="lead"> </p> 
       <h5> 大家好，我叫吴晓燕。 上山的路有千条万条，但你只要选择一条路走到底，这就是成功。 </h5> 
       <p></p> 
      </div> 
     </div> 
     <!--obj-intro end--> 
    </div> 
    <!--info end--> 
    <!--goods first--> 
    <div id="goods"> 
     <div class="panel panel-danger" id="g-bar"> 
      <div class="panel-heading" id="g-title"> 
       <h4 class="panel-title">送干货的人</h4> 
      </div> 
      <div class="panel-body" id="g-box"> 
       <ul class="list-unstyled" id="g-people-left"> 
        <li> <img class=" pull-left dxd-username img-circle" src="../img/14.jpg" alt="image" /> </li> 
       </ul> 
       <ul class="list-unstyled" id="g-people-right"> 
        <li id="g-name"><h5>书怡</h5></li> 
        <li><h5>一书一怡看世界</h5></li> 
       </ul> 
      </div> 
     </div> 
     <div id="g-bottom"> 
      <ul class="list-unstyled"> 
       <li><h5>助人者，我也我也！</h5></li> 
      </ul> 
     </div> 
    </div> 
   </div> 
   <!--goods end--> 
  </div> 
  <!--container end--> 
  <div class="clearfix"></div> 
  <div class="light-green-background"> 
   <div class="container"> 
    <div class="row"> 
     <div style="width: 100%; padding: 0 10%;"> 
      <div class="span3 offset1" style="color:#FFF;"> 
       <h3>关于我们</h3> 
       <p>这是一个爱学习的人</p> 
       <p>免费探索兴趣爱好的网站</p> 
      </div> 
      <div class="span3" style="color:#FFF;"> 
       <h3>联系合作</h3> 
       <p><a style="color:#FFF;" href="#">联系我们</a></p> 
       <p><a style="color:#FFF;" href="#">合作方式</a></p> 
      </div> 
      <div class="span3" style="color:#FFF;"> 
       <h3>关注我们</h3> 
       <p><a style="color:#FFF;" href="#">微博</a></p> 
       <p><a style="color:#FFF;" href="#">微信</a></p> 
      </div> 
      <div class="clearfix"></div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="green-background"> 
   <div class="container"> 
    <div class="row"> 
     <div class="span11 offset1"> 
      <div style="padding:15px 0;color:white; text-align: center;">
        粤ICP备138666666号 &nbsp;&nbsp;&nbsp; Copyright &copy; 138class 
      </div> 
     </div> 
    </div> 
   </div> 
  </div>  
 </body>
</html>
