#content {
	margin: 0 64px;
}

.introduce .practise,
.introduce .free {
	overflow: hidden;
	position: relative;
}

.introduce .title {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 16px;
}

.introduce .title a {
	float: right;
	font-size: 14px;
	color: black;
}

.introduce .title a:hover {
	color: gray;
}

.item_class {
	width: 224px;
	height: 186px;
	/*-webkit-box-shadow: 0 5px 10px 0 ;*/
	/*box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);*/
	float: left;
	margin-right: 24px;
	margin-bottom: 8px;
	position: relative;
}

.item_class> div {
	/*padding: 10px;*/
}

.item_class .item_class_intro {
	width: 224px;
	position: absolute;
	/*left: 0;*/
	top: 84px;
	padding: 10px;
	background-color: white;
	transition: top .5s;
}

.item_class .item_class_intro h3 {
	padding: 0px 0;
	font-size: 13px;
	font-weight: bold;
}

.item_class .item_class_intro h3 i {
	/*float: left;*/
	margin-top: 2px;
	margin-right: 4px;
	padding: 2px;
	font-style: normal;
	font-size: 12px;
	color: #fff;
	line-height: 12px;
	border-radius: 1px;
	background-color: #93999f;
}

.item_class .item_class_intro p {
	color: #93999f;
	padding: 5px 0;
	height: 45px;
	line-height: 20px;
	overflow: hidden;
}

.item_class .item_class_bottom {
	width: 224px;
	position: absolute;
	bottom: 0;
	background-color: white;
	padding: 10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.item_class_bottom .left {
	float: left;
	color: red;
}

.item_class_bottom .right {
	float: right;
	/*margin-right: 8px;*/
}

.web_learn {
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
}

.web_learn .web_l {
	width: 244px;
	height: 364px;
	background-image: url(../img/Web.png);
	background-size: 100%;
	position: relative;
	float: left;
	margin-right: 20px;
}
.web_l p{
	font-size: 32px;
	font-weight: 700;
	color: white;
	margin-left: 22px;
	margin-top: 30px;
	line-height: 40px;
}
.web_l #pro_path{
	display: block;
	margin-top: 20px;
	margin-left: 22px;
	color: white;
	font-size: 16px;
}
.web_l .web_l_bottom{
	position: absolute;
	bottom: 12px;
	left: 22px;
}
.web_l .web_l_bottom a{
	display: block;
	margin: 10px 0;
	color: #c03;
}
.web_l .web_l_bottom a:hover{
	color: #ff0040;
}

.web_learn .web_m,
.web_m2 {
	float: left;
}

.web_learn .web_m .web_m_top {
	width: 468px;
	height: 172px;
	background-image: url(../img/web5.jpg);
	background-size: 100%;
	margin-right: 20px;
}

.web_learn .web_m .web_m_bottom {
	width: 468px;
	height: 172px;
	background-image: url(../img/web4.jpg);
	margin-right: 20px;
	margin-top: 20px;
}
.web_m p{
	font-size: 22px;
	font-weight: 700;
	line-height: 172px;
	text-align: center;
	color: white;
}

.web_m2 .web_m2_top,
.web_m2 .web_m2_bottom {
	clear: both;
	height: 172px;
	margin-right: 20px;
}

.web_m2 .web_m2_bottom {
	margin-top: 12px;
}

.web_m2 .item_class_bottom {
	padding: 5px 10px;
}

.web_learn .web_r {
	float: left;
	margin-right: 0;
	height: 364px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.web_learn .web_r .item_class_bottom {
	bottom: 178px;
	box-shadow: 0 0;
}

.web_r .list {
	position: absolute;
	z-index: 100;
	border-top: gainsboro 1px solid;
	padding: 0 10px;
	bottom: 20px;
}

.web_r .list li {
	height: 25px;
	/*line-height: 10px;*/
	padding: 5px 0;
	overflow: hidden;
}

.web_r .list a {
	font-size: 14px;
	color: black;
	line-height: 20px;
}

.web_r .list a:before {
	content: " ";
	display: inline-block;
	width: 3px;
	height: 3px;
	/*position: relative;*/
	/*left: -12px;
	top: -3px;*/
	margin-right: 5px;
	background: #07111b;
}

.web_r .list a:hover {
	color: red;
}